<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">YB Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link {{aktif}}" href="/about">Hakkımızda </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{aktif}}" href="/articles">Makaleler </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">

      {% if session["username"] != not %}
      <li class="nav-item">
        <a class="nav-link {{aktif}}" href="/dashboard"> {{session['username']}} Kontrol Paneli</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{aktif}}" href="/logout">Çıkış Yap</a>
      </li>
      {% elif session["username"] == not %}
      <li class="nav-item">
        <a class="nav-link {{aktif}}" href="/login">Giriş Yap</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{aktif}}" href="/register">Kayıt Olun</a>
      </li>
      {% endif %}

    </ul>

  </div>
</nav>