{% extends "layout.html" %}

{% block body %}
<h3>Hakkımda</h3>
<hr>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate corrupti omnis ex minima eligendi veniam rerum qui
laborum nulla culpa magni placeat, incidunt mollitia exercitationem. Perferendis dolores quisquam tempore temporibus.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam voluptatibus natus reiciendis cupiditate nostrum
illo saepe quibusdam exercitationem esse ex nihil enim atque obcaecati itaque nemo quas, assumenda debitis vel. Lorem
ipsum dolor sit amet consectetur adipisicing elit. Magni enim, repudiandae ea facere deleniti similique sint quaerat
eligendi, rem expedita facilis? Neque similique, voluptatum vero aperiam assumenda distinctio qui beatae.
<hr>
{% endblock body %}