{% extends "layout.html" %}
{% block body %}
<h3>Makale Oluştur</h3>
<hr>
{% from "includes/_formhelpers.html" import render_field %}
<form action="{{url_for('addarticle')}}" method="POST">
    <div class="col-md-12">
        <div class="form-group mt-3">
            <label for="validationServer01">Başlık</label>
            <input type="text" class="form-control" id="validationServer01" placeholder="Başlık" name="title" required>
        </div>
        <div class="form-group mt-3">
            <label for="validationServer02">Yazar</label>
            <input type="text" class="form-control" id="validationServer02" placeholder="Yazar" name="author" required>
        </div>
        <div class="form-group mt-3">
            <label>İçerik</label>
            {{ckeditor.create(name='content')}}
        </div>
        <button class="btn btn-primary" type="submit">Ekle</button>
    </div>
</form>
<script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
{% endblock body %}