{% extends "layout.html" %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<h3>Kayıt Olun</h3>
<hr>
<form method="post">
    {{ render_field(form.name, class = "form-control w-25") }}
    {{ render_field(form.username, class = "form-control w-25") }}
    {{ render_field(form.email, class = "form-control w-25") }}
    {{ render_field(form.password, class = "form-control w-25") }}
    {{ render_field(form.confirm, class = "form-control w-25") }}
    <button type="submit" class="btn btn-primary">Kayıt Ol</button>
</form>


{% endblock body %}